@page "/"
@page "/Index"
@page "/Index/{TeamName}"
@page "/Index/{TeamName}/{MemberName}"

<div class="row">
    <div class="col-12 mb-3">
        <PlanningPoker.Client.Components.SessionPanel TeamName="@TeamName" MemberName="@MemberName" />
    </div>
</div>

@functions
{
    [Parameter]
    public string? TeamName { get; set; }

    [Parameter]
    public string? MemberName { get; set; }
}
