@inherits LayoutComponentBase

<div class="pageContent">
    <div class="planningPokerContainer">
        <header>
            <NavBar />
        </header>
        <div class="container custom-container">
            <main role="main" class="pb-3">
                @Body
            </main>
        </div>
    </div>

    <BusyIndicatorPanel />
    <GlobalMessagePanel />
</div>

<footer class="border-top footer text-muted bg-dark">
    <div class="container">Copyright &copy; @DateTime.Now.Year</div>
</footer>
