/* Sticky footer styles */

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Loader */

.loader {
    width: 16em;
    height: 8em;
    position: relative;
    overflow: hidden;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    bottom: 0;
}

.loader::before {
    width: inherit;
    height: 0.2em;
    background-color: hsla(0, 0%, 85%);
}

.loader::after {
    box-sizing: border-box;
    width: 50%;
    height: inherit;
    border: 0.2em solid hsla(0, 0%, 85%);
    border-radius: 50%;
    left: 25%;
}

.loader span {
    position: absolute;
    width: 5%;
    height: 10%;
    background-color: white;
    border-radius: 50%;
    bottom: 0.2em;
    left: -5%;
    animation: 3s linear infinite;
    transform-origin: 50% -3em;
    animation-name: run, rotating;
}

.loader span:nth-child(2) {
    animation-delay: 0.075s;
}

.loader span:nth-child(3) {
    animation-delay: 0.150s;
}

.loader span:nth-child(4) {
    animation-delay: 0.225s;
}

.loader span:nth-child(5) {
    animation-delay: 0.300s;
}

@keyframes run {
    0% {
        left: -5%;
    }

    10%, 60% {
        left: calc((100% - 5%) / 2);
    }

    70%, 100% {
        left: 100%;
    }
}

@keyframes rotating {
    0%, 10% {
        transform: rotate(0deg);
    }

    60%, 100% {
        transform: rotate(-1turn);
    }
}

/* Provide sufficient contrast against white background */
main a, main a:not([href]):not([tabindex]) {
    color: #0366d6;
}

main a:focus, main a:hover, main a:not([href]):not([tabindex]):focus, main a:not([href]):not([tabindex]):hover {
    color: #23527c;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#blazor-error-ui {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: none;
}

/* Members panel */

.remove-member-btn {
    --bs-btn-border-width: 0;
    --bs-btn-padding-x: 0.25rem;
    --bs-btn-padding-y: 0;
    --bs-btn-color: #e7727d;
    --bs-btn-hover-color: #dc3545;
    --bs-btn-hover-bg: transparent;
    --bs-btn-active-color: #dc3545;
    --bs-btn-active-bg: transparent;
}

/* Poker desk */

.pageContent {
    padding-bottom: 30px;
}

.pageContent a {
    cursor: pointer;
}

.pokerDeskPanel h2 {
    color: #337ab7;
    margin-top: 2px;
}

.pokerDeskPanel h3 {
    color: #5cb85c;
}

.team-title {
    margin: 2px 0px 10px 0px;
}

.team-title h2, .team-title h3 {
    display: inline-block;
    margin: 0px 18px 0px 0px;
}

.team-title .badge {
    position: relative;
    top: -3px;
}

/* Select estimation */

.availableEstimations ul {
    list-style: none;
    padding-left: 0;
}

.availableEstimations li {
    display: inline-block;
    margin: 4px;
    width: 80px;
    height: 121px;
    font-size: 32pt;
    background: url(images/cardbg.png) no-repeat center center;
}

.availableEstimations a {
    display: block;
    width: 84px;
    height: 121px;
    padding-top: 25px;
    text-align: center;
    text-decoration: none;
}

.availableEstimations a:hover {
    text-decoration: none;
}

.availableEstimations a:active {
    text-decoration: none;
}

/* Estimation result */

.estimationResult ul {
    list-style: none;
    padding-left: 0;
}

.estimationResult li {
    display: inline-block;
    margin: 4px;
    vertical-align: top;
}

.estimationResult .estimationItemValue {
    display: block;
    width: 74px;
    height: 105px;
    padding-top: 24px;
    background: url(images/cardbg.png) no-repeat center center;
    text-align: center;
    font-size: 32pt;
    color: #337ab7;
}

.estimationResult .estimationItemName {
    display: block;
    width: 74px;
    padding: 3px 0 5px 0;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    overflow-wrap: break-word;
}

/* Estimation summary */

.estimationSummary {
    margin-bottom: 0.5rem;
}

.estimationSummary .estimationSummaryItem {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid #1861ac;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    padding: 0 !important;
}

.estimationSummary .estimationSummaryTitle {
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
    border-top: 1px solid #1861ac;
    border-bottom: 1px solid #1861ac;
    border-left: 1px solid #1861ac;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    margin: -1px 0 -1px -1px;
    padding: 5px 15px 5px 15px;
    color: #fff;
    background: #1b6ec2;
}

.estimationSummary .estimationSummaryValue {
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    text-align: right;
}

/* Create / Join Session Form */

a {
    cursor: pointer;
    transition: all 200ms linear;
}

    a:hover {
        text-decoration: none;
    }

.link {
    color: #c4c3ca;
}

    .link:hover {
        color: #ffeba7;
    }

p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
}

h4 {
    font-weight: 600;
}

h1 {
    color: orangered;
    font-weight: 700;
}

h6 span {
    text-transform: uppercase;
    font-weight: 700;
    color: orangered;
    font-size: 1.4em;
    position: relative;
    top: 32px;
    margin-left: 2.4em;
    margin-right: 1.3em;
}

.section {
    position: relative;
    width: 100%;
    display: block;
}

.full-height {
    min-height: 100vh;
}

.sessionMode[type="checkbox"]:checked,
.sessionMode[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.sessionMode:checked + label,
.sessionMode:not(:checked) + label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: orangered;
}

    .sessionMode:checked + label:before,
    .sessionMode:not(:checked) + label:before {
        position: absolute;
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: white;
        background-color: #102770;
        font-family: 'unicons';
        content: '\ebb4';
        z-index: 20;
        top: -10px;
        left: -10px;
        line-height: 36px;
        text-align: center;
        font-size: 24px;
        transition: all 0.5s ease;
    }

    .sessionMode:checked + label:before {
        transform: translateX(40px) rotate(180deg);
    }


.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}

.card-front, .card-back {
    width: 100%;
    height: 80%;
    background-color: #2a2b38;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.sessionMode:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}

.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(50px);
    z-index: 20;
    display: block;
}


.form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

    .form-style:focus,
    .form-style:active {
        border: none;
        outline: none;
        box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
    }

    .form-style[type="checkbox"] {
        height: 24px;
        box-shadow: none;
        width: 15%
    }

.checkBoxLabel {
    display: flex;
    flex-wrap: nowrap;
    color: orangered;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


.input-icon {
    position: absolute;
    top: -2px;
    left: 12px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: orangered;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input::-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input::-webkit-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn {
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: coral;
    color: white;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}

    .btn:active,
    .btn:focus {
        background-color: orangered;
        color: #ffeba7;
        box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    }

    .btn:hover {
        background-color: orangered;
        color: #ffeba7;
        box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    }
